/* 
#mainmodal {
    position: fixed;
    font-family: Arial;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    text-align: center;
} */


/* 
.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFD700;
    width: 100%;
    padding: 50px;
}

.marquee {
	color: black;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 30px;
	font-size: 40px;
}
 */

