@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* main {
  background-color: #f5f5f5;
  object-position: center;
  padding: 20px;

}


.element{
    
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
margin-bottom: 20px;


  
    
}

.hero-content1 {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 
} */